.wrapper {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }

    header.wiket-main-header {
        height: auto;
    }

    .wiket-hero-content {
        position: absolute;
        display: flex;
        flex-flow: row-reverse nowrap;
        padding-left: 3.625rem;
        padding-right: 2rem;
    }

    .wiket-hero-image {
        position: relative;
        flex: 0 1 40.11%;
        margin-right: 7.625rem;
    }

    .wiket-hero-desc {
        position: relative;
        flex: 0 1 56.9%;
        margin-left: 1.725rem;
        padding-top: 4.7251rem;
    }

    .pin-1 > img,
    .pin-2 > img {
        height: 2.325rem;
    }

    .pin-1 {
        top: 15.525%;
        left: -15%;
    }

    .pin-2 {
        top: 48%;
        right: -19.8%;
    }

    .wiket-hero-desc p.sub-desc {
        font-size: 1.875rem;
    }

    .wiket-hero-desc h1.desc {
        font-size: 4.325rem;
        line-height: 1;
        padding-top: 1.325rem;
    }

    .wiket-card {
        position: absolute;
    }

    .wiket-card:nth-of-type(1) {
        top: 8.311%;
        width: 7.871rem;
        right: -22%;
        height: 10.125rem;
    }

    .wiket-card:nth-of-type(2) {
        width: 8.5rem;
        height: 11.825rem;
        left: -16.12%;
        top: 25.3%;
    }

    .wiket-card:nth-of-type(3) {
        top: 57.333%;
        right: -29%;
        height: 8.525rem;
        width: 6.871rem;
    }

    picture.loc-route {
        bottom: -54.4%;
        right: 29.725%;
    }

    p.wiket-text-desc {
        position: relative;
        top: 32.452%;
        right: -33%;
        width: 60.33%;
        padding-left: 2.825rem;
    }

    .loc-card-text > small {
        font-size: 0.752rem;
        padding-bottom: 0.525rem;
        color: rgba(0, 78, 76, 0.8);
        font-weight: 600;
    }

    figcaption h3 {
        color: #333333;
    }

    .wiket-loc-city {
        flex-flow: column;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1120px;
    }

    .wiket-hero-content {
        padding-left: 6.521rem;
        padding-right: 3.625rem;
    }

    .wiket-hero-image {
        flex: 0 1 37.1%;
    }

    .wiket-hero-desc {
        position: relative;
        flex: 0 1 60.9%;
    }

    .pin-1 {
        top: 19.31%;
        left: -13%;
        z-index: 99;
    }

    .pin-2 {
        right: -17%;
        top: 46.2%;
        z-index: 99;
    }

    .wiket-hero-desc h1.desc {
        font-size: 5.425rem;
        line-height: 1;
    }

    .wiket-hero-desc p.sub-desc {
        font-size: 2rem;
    }

    .wiket-card:nth-of-type(1) {
        right: -14.342%;
    }

    .wiket-card:nth-of-type(2) {
        right: -15%;
        top: 28.3%;
    }

    .wiket-card:nth-of-type(3) {
        right: -27%;
    }

    picture.loc-route {
        bottom: -50.4%;
        right: 35.725%;
    }

    p.wiket-text-desc {
        margin-right: 1.725rem;
        position: relative;
        top: 32.522%;
        right: -33%;
        width: 53.33%;
        padding-left: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapper {
        max-width: 1320px;
    }

    .wiket-main-nav {
        margin-left: 20.542rem;
        flex: 0 1 44%;
    }

    .wiket-card:nth-of-type(1) {
        height: 10.5rem;
        right: -16%;
        width: 9.125rem;
    }

    .wiket-card:nth-of-type(2) {
        height: 12.3875rem;
        left: -11.1%;
        top: 32.412%;
        width: 9.125rem;
    }

    .wiket-card:nth-of-type(3) {
        height: 10.3125rem;
        right: -26.811%;
        width: 9.125rem;
    }

    p.wiket-text-desc {
        top: 36.625%;
    }

    picture.loc-route {
        bottom: -39.51%;
        right: 37.5%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 990px) {
    .wiket-main-nav {
        background: var(--theme-color);
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 0.625rem 1.6875rem rgba(0, 0, 0, 0.05);
        flex-direction: column;
        right: 160%;
        top: 10%;
        justify-content: space-evenly;
        position: fixed;
        z-index: 9;
    }

    .wiket-main-nav.active {
        left: 0;
        margin: 0 auto;
        width: 100vw;
        min-height: 450px;
    }

    .btn.get-started.desktop {
        display: none;
    }

    .wiket-logo-home > img,
    .btn.get-started.mobile,
    .hamburger {
        max-height: 2.5rem;
        max-width: 6rem;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn.get-started.mobile {
        font-size: 0.555rem;
        font-weight: 600;
    }

    .hamburger {
        display: block;
    }

    nav {
        justify-content: space-between;
        flex-flow: row nowrap;
        padding: 1.625rem 0rem;
    }

    .btn.get-started {
        display: flex;
        justify-content: flex-end;
    }

    .pin-1,
    .pin-2 {
        display: none;
    }

    .wiket-hero-desc p.sub-desc {
        font-size: 1.341rem;
    }

    .wiket-hero-desc h1.desc {
        font-size: 3.625rem;
        line-height: 1.1;
        padding-top: 0.325rem;
    }

    p.wiket-text-desc {
        padding-top: 1.625rem;
        margin-right: 1.725rem;
    }

    figure.wiket-hero-image {
        padding-top: 4.625rem;
        display: flex;
        flex-flow: column;
    }

    figcaption {
        order: -1;
        padding-bottom: 1rem;
    }

    figcaption h3 {
        font-weight: 800;
    }

    figcaption small {
        color: #333333;
        font-weight: 600;
        font-size: 0.753rem;
    }

    section.wiket-hero {
        height: 100vh;
    }

    .hero-img-overlay > {
        min-height: 422px;
    }

    .cards-content {
        margin-top: -4.7231rem;
        margin-left: 1.5241rem;
    }

    .loc-card-text small {
        color: rgba(0, 78, 76, 0.8);
        font-weight: 700;
        font-size: 0.725rem;
    }

    .wiket-loc-city {
        flex-flow: row wrap;
        position: relative;
        justify-content: space-between;
        flex: 1;
    }
}

@media (max-width: 396px) {
    .wiket-hero-desc h1.desc {
        font-size: 3rem;
    }

    picture.loc-route {
        bottom: -29%;
        right: 18.726%;
        display: grid;
        margin: 0 auto;
    }
}

@media (min-width: 400px) and (max-width: 626px) {
    picture.loc-route {
        bottom: -36%;
        right: 15.6531%;
    }

    .wiket-card:nth-of-type(2) {
        position: absolute;
        right: 0%;
        bottom: -82%;
    }

    .wiket-card:nth-of-type(3) {
        position: absolute;
        left: -7%;
        bottom: -144%;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    picture.loc-route {
        bottom: -28.562%;
        right: 6.6531%;
        height: 38%;
    }

    .wiket-card:nth-of-type(2) {
        position: absolute;
        right: 0%;
        bottom: -99.111%;
    }

    .wiket-card:nth-of-type(3) {
        position: absolute;
        left: -7%;
        bottom: -144%;
    }
}
